accelerate==0.25.0
altair==5.2.0
bitsandbytes==0.41.3.post2
blinker==1.7.0
gitdb==4.0.11
GitPython==3.1.40
huggingface-hub==0.20.1
pydeck==0.8.1b0
rich==13.7.0
safetensors==0.4.1
smmap==5.0.1
streamlit==1.29.0
tenacity==8.2.3
tokenizers==0.15.0
transformers==4.36.2
tzlocal==5.2
validators==0.22.0
