altair==5.2.0
blinker==1.7.0
diffusers==0.24.0
filelock==3.13.1
fsspec==2023.12.2
huggingface-hub==0.19.4
importlib-metadata==6.11.0
markdown-it-py==3.0.0
mdurl==0.1.2
pyarrow==14.0.1
pydeck==0.8.1b0
regex==2023.10.3
rich==13.7.0
safetensors==0.4.1
streamlit==1.29.0
streamlit-keyup==0.2.2
tokenizers==0.15.0
toolz==0.12.0
transformers==4.36.1
tzlocal==5.2
validators==0.22.0
zipp==3.17.0
